.about-container {
  display: flex;
  background-color: white;
  color: black;
  height: 12cm;
  padding: 100px 0 100px 0;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.about-desc {
  position: relative;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20cm;
  padding: 0 100px 0 100px;
}

.about-desc>h3 {
  margin-bottom: 30px;
  font-size: 28px;
}

.about-desc>p {
  line-height: 1.5;
}

.about-img {
  /* background-color: pink; */
  /* border-radius: 60%; */
  width: 15cm;
  height:10cm;
  display: flex;
  justify-content: center;
  align-self: center;
  /* overflow: hidden; */
}

.about-img img{
  /* height: 12cm; */
  width: 6cm;
  justify-content: center;
  align-self: center;
  border-radius: 30%;
}

.about-img img:hover{
  width: 7cm;
  transition: all 0.3s ease-out;
  /* background-color: red; */
}

.container-picture{
  /* background-color: darkgreen; */
  height: 3cm;
  /* width: 16vh; */
 
  display: flex;
  overflow: hidden;
  margin-top: 12px;
  padding-bottom: 95px;
  
  justify-content: space-around;


}

.container-picture2{
  /* background-color: orange; */
  height: 3cm;

 
  display: flex;
  overflow: hidden;
  /* margin-top: 12px; */
  padding-bottom: 100px;
  justify-content:space-around;


}

.picture{
  /* background-color: yellow; */
  height: 87px;
  padding: 10px;
  /* width: 16vh; */
 
  display: flex;
  overflow: hidden;
  margin-top: 10px;
}



.picture:hover{
  /* background-color: red; */
  height:100px;
  width: 90px;
  
  transition: all 0.3s ease-out;
}

.about-img a{
  margin-top: 40px;
}


@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-desc {
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-desc>h3 {
    font-size: 20px;
    text-align: center;
  }

  .about-img {
    width: 100%;
    margin-bottom: 50px;

  }

  .about-img>img {
    width: 100%;
  }
}